body {
  font-family: Helvetica Neue, Arial, sans-seri;
  text-align: center;
  color: white;
}

.wrapper {
  max-width: 800px;
  color: white;
  margin: 50px auto;
}

.ridge {
  max-width: 800px;
  left:0px;
  right:100%;
  position: absolute;
  text-align: right;
}


h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
  color: white;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
